<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="display-4">404</h1>
                        <p class="lead">Nie znaleziono strony</p>
                        <a href="/" class="btn btn-primary">
                            <i class="fas fa-home"></i> Powrót do biblioteki
                        </a>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>